version: "3.9"

services:
  backend:
    build: ./backend
    container_name: gemini-backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: gemini-frontend
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8000/chat
    ports:
      - "8501:8501"
    restart: always

